* text=auto eol=lf encoding=utf-8
*.exe binary
*.dll binary
*.zip binary
*.pdf binary
*.png binary
*.jpg binary
*.gif binary
*.ico binary
*.dds binary
*.ttf binary
*.otf binary
*.fnt binary
*.woff binary
*.woff2 binary
*.mp3 binary
*.ogg binary
*.wav binary
*.mp4 binary
*.fbx binary
*.psd filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
assets/**/concepts/**/*.png filter=lfs diff=lfs merge=lfs -text
